<nav>
  <ul>
    <li>
      <a routerLink="" [class.activated]="currentUrl == '/'">
        <i class="material-icons">supervised_user_circle</i>
      </a>
    </li>
    <li>
      <a routerLink="posts" [class.activated]="currentUrl == '/posts'">
        <i class="material-icons">message</i>
      </a>
    </li>
    <li>
        <a routerLink="predict" [class.activated]="currentUrl == '/FlightPredictor'">
          <i class="material-icons">perm_data_setting </i>
        </a>
    </li>
    <li>
      <a routerLink="inventory" [class.activated]="currentUrl == '/inventory'">
        <i class="material-icons">table_chart </i>
      </a>
  </li>
  </ul>
</nav>